name: Trigger CodePipeline

on:
  push:
    branches:
      - deploy

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::037776138262:role/github-oidc-assume-role
          aws-region: us-east-1

      - name: Lint CloudFormation template
        run: |
            pip install cfn-lint
            cfn-lint template.yaml

      - name: Start CodePipeline
        run: |
          aws codepipeline start-pipeline-execution \
            --name githubaction-cfn-deploy
